<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form Oluştur</title>
    <link rel="stylesheet" href="/css/form_builder.css" />
</head>

<body>
    <div class="navbar">Form Builder</div>

    <div class="form-container">
        <div id="questions-container">
            <!-- Sorular buraya eklenecek -->
        </div>

        <button id="add-question-btn">+ Yeni Soru Ekle</button>
        <button id="submit-form-btn">Formu Gönder</button>
    </div>

    <script src="/js/form_builder.js"></script>
</body>

</html>